:root {
    --button: #FF0000;
    --main-background:  #C4C4C4;
    --background: #E5E5E5;
    --text: #000;
    --footer: #000;
    --text-description: #9C9696;
  }

body{
    margin: 0;
    display: grid;
    height: 100vh;
    grid-template-areas: 
        "esquerdo direito"
        "footer footer"    
    ;
    grid-template-rows:100% 25%;
    grid-template-columns: 40% 1fr;
    font-family: 'Poppins', sans-serif;

}

header{
    position: fixed;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#esquerdo{
    background-color: #E5E5E5;
}

#direito{
    background-color: #9C9696;
}

footer{
    display: flex;
    grid-area: footer;
    background-color: #E5E5E5;
    justify-content: space-between;
    width: 100%;

}

h5{
    margin-top: 6%;
    cursor: pointer;
}

#explore{
    display: flex;
    background-color: black; 
    color: white; 
    width: 30%; 
    height: 100%; 
    margin-top: 0;
    cursor: pointer;
}

button{
    color: white;
    background-color: #FF0000;;
    border: none;
    padding: 16px 32px;
    cursor: pointer;
    width: 200px;
    height: 70px;
}

#itens{
    margin: 15%;
    margin-top: 25%;
}

#texto{
    line-height: 20px;
    font-size:x-large;
}

#imagem_tenis{
    display: flex;
    justify-content: space-around;
    
}

#tenis_3{
    width: 200px;
    height: 150px;
    padding-bottom: 5px;
}

input{
    margin-top: 1.5%;
    width: 150px;
    height: 20px;
    background: url(./imagens/icon-search.svg) no-repeat scroll 7px white;
    text-indent: 30px;
    cursor: pointer;
}