body{
    background-color: background-color: #121214;
    height: 100vh;
    margin: 0;
    margin-bottom: 0;

    display: grid;
    grid-template-areas: 
    "esquerdo direito" 
    ;
    grid-template-rows:  1fr;
    grid-template-columns: 50% 1fr;
    color: #afb6c2;
    font-family: 'Poppins', sans-serif;
}
#esquerdo{
    margin: 0;
    grid-area: esquerdo;
    background-color: #191816;
}

#direito{
    grid-area: direito;
    height: 100vh;
}

#formulario{
    background-color: #24221f;
    margin: 10% 14%;
    padding: 3px;
    border-radius: 10px;
    line-height: 30px;
}

form{
    margin: 40px 50px;
   
    
}
h3{
    color: #d4ccb6;
}

input{
    border: 1px solid;
    background-color: #24221f;
    border-radius: 5px;
    padding: 5px 5px;
    
}

button{
    background-color: #ffc632;
    border: none;
    border-radius: 3px;
    padding: 16px 32px;
    cursor: pointer;
    width: 100%
}

input:focus {
    outline-color: #ffc632 
}

input[type="checkbox"]:checked{
    background-color: #ffc632;
}

input[type="text"]{
background-image:url(./imagens/mail.svg);
}
