body{
    height: 100vh;
    margin: 0;
    margin-bottom: 0;

    display: grid;
    grid-template-areas: 
    "esquerdo direito" 
    ;
    grid-template-rows:  1fr;
    grid-template-columns: 50% 1fr;
}

#esquerdo{
    margin: 0;
    grid-area: esquerdo;
    background-color: #121214;
}

#direito{
    grid-area: direito;
    background-color: blueviolet;
    height: 100vh;
}