body{
        height: 100vh;
        margin: 0;
        display: grid;
        grid-template-areas: 
        "top top"
        "esquerda rocket"
        "bottom bottom"
        ;

        grid-template-rows: 20% 59% 20%;
        grid-template-columns: 57% 1fr;
        font-family: 'Poppins', sans-serif;
}

.top{
    grid-area: top;
}

.top img{
    object-fit: cover;
    width: 100%;
}

.esquerda{
    grid-area: esquerda;
}

.rocket{
    grid-area: rocket;
}

.bottom{
    grid-area: bottom;
}

.bottom img{
    object-fit: cover;
    width: 100%;
}

h1{
    color: #6C63FF;
    text-align: center;
}